[Desktop Entry]
Type=Application
Name=Watermelon Vector Converter
Comment=Convert between SVG and Android VectorDrawable XML
Exec=wvgc-desktop
Terminal=false
Categories=Graphics;Viewer;Utility;
